@charset "UTF-8";
/* breakpoints */
/* variables couleurs */
/* fonts */
@font-face {
  src: url("../fonts/roboto/roboto-bold.eot?") format("eot"), url("../fonts/roboto/roboto-bold.woff") format("woff"), url("../fonts/roboto/roboto-bold.ttf") format("truetype");
  font-family: "RobotoBold";
  font-weight: 700;
}

@font-face {
  src: url("../fonts/roboto/roboto-medium.eot?") format("eot"), url("../fonts/roboto/roboto-medium.woff") format("woff"), url("../fonts/roboto/roboto-medium.ttf") format("truetype");
  font-family: "RobotoMedium";
  font-weight: 500;
}

/* Font size */
/* Chapo de la page consultation */
.field--name-field-acti-consult-chapo {
  margin: 1.5rem 0;
  padding: 1.4rem;
  border: 1px solid #5a4b5f;
}

/* Thématique */
.paragraph--type--acti-thematique {
  margin: 3.5rem 0;
  border-radius: 5px;
  background: #e7e6ea;
  overflow: hidden;
  /* chapo thématique */
  /* Image thématique */
  /* Texte chapo thématique */
  /* Bloc contenant les boutons open et instructions */
  /* style global pour les boutons */
}

@media (min-width: 768px) {
  .paragraph--type--acti-thematique .bloc-plie-actithematique {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.paragraph--type--acti-thematique .field.field--name-field-acti-thematique-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  overflow: hidden;
}

@media (min-width: 768px) {
  .paragraph--type--acti-thematique .field.field--name-field-acti-thematique-image {
    width: 29%;
    /* width: 341px; */
  }
}

.paragraph--type--acti-thematique .field.field--name-field-acti-thematique-image img {
  max-height: 225px;
  max-width: 100%;
  width: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.paragraph--type--acti-thematique .bloc-chapo-actithematique {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.75rem;
  /* Titre thématique */
  /* description thematique */
}

.paragraph--type--acti-thematique .bloc-chapo-actithematique .field--name-field-acti-thematique-title {
  margin-bottom: 1rem;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
}

@media (min-width: 576px) {
  .paragraph--type--acti-thematique .bloc-chapo-actithematique .field--name-field-acti-thematique-title {
    font-size: 2rem;
  }
}

.paragraph--type--acti-thematique .bloc-chapo-actithematique .field--name-field-acti-thematique-desc {
  margin-bottom: 1rem;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .paragraph--type--acti-thematique .bloc-chapo-actithematique .field--name-field-acti-thematique-desc {
    font-size: 1.5rem;
  }
}

.paragraph--type--acti-thematique .actiAlignbutton {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
  /* position bouton instruction */
}

.paragraph--type--acti-thematique .actiAlignbutton .actiInstructions {
  width: 100%;
  text-align: left;
  -ms-flex-item-align: end;
      align-self: flex-end;
  white-space: inherit;
}

.paragraph--type--acti-thematique button {
  padding: 1.25rem;
  border-radius: 5px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

@media (min-width: 576px) {
  .paragraph--type--acti-thematique button {
    font-size: 2rem;
  }
}

.paragraph--type--acti-thematique button:hover, .paragraph--type--acti-thematique button:focus, .paragraph--type--acti-thematique button:active {
  background: #5a4b5f !important;
  color: #FFFFFF !important;
}

/* Bloc déplié */
.actiToggled {
  position: relative;
}

.actiToggledContent {
  width: 100%;
  margin: auto;
  padding: 1rem 1.5rem 1.5rem;
}

@media (min-width: 768px) {
  .actiToggledContent {
    max-width: 65%;
    padding: 1rem 0 1.5rem;
  }
}

/* Propositions */
.field--name-field-acti-proposition {
  /* bloc regroupant l'image et le texte de la proposition */
  /* Image proposition */
  /* bloc regroupant le texte et les votes de la proposition */
  /* bloc qui affiche le nombre de personnes qui a voté */
  /* votes */
  /* Bloc contenant les votes */
  /* etoiles et pouces */
}

.field--name-field-acti-proposition .bloc-actiProposition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .field--name-field-acti-proposition .bloc-actiProposition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.field--name-field-acti-proposition img.actiPropIcon {
  max-width: 70px;
  max-height: 75px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 768px) {
  .field--name-field-acti-proposition img.actiPropIcon {
    margin-bottom: 0;
    margin-right: 1.75rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.field--name-field-acti-proposition .bloc-blanc-actiproposition {
  width: 100%;
  padding: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  border-radius: 5px;
  background: #FFFFFF;
  font-size: 1.7rem;
}

@media (min-width: 576px) {
  .field--name-field-acti-proposition .bloc-blanc-actiproposition {
    font-size: 1.7rem;
  }
}

@media (min-width: 768px) {
  .field--name-field-acti-proposition .bloc-blanc-actiproposition {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.field--name-field-acti-proposition .actiCountWrapper {
  text-align: right;
  font-size: 1.7rem;
  font-weight: 700;
}

@media (min-width: 576px) {
  .field--name-field-acti-proposition .actiCountWrapper {
    font-size: 1.7rem;
  }
}

.field--name-field-acti-proposition .actiPropVote {
  padding: 1.5rem 2rem 1rem 0;
  text-align: right;
}

.field--name-field-acti-proposition .acti-etoiles {
  margin-left: 0.5rem;
}

.field--name-field-acti-proposition .acti-pouces {
  display: inline-block;
  margin-left: 2rem;
  padding: 0.75rem;
  border: 2px solid #f39200;
  border-radius: 100%;
  /*  img {
      vertical-align: top;
    } */
}

.field--name-field-acti-proposition .acti-pouces:first-child {
  border-color: #3aaa35;
}

.field--name-field-acti-proposition .acti-pouces:last-child {
  border-color: #e6332a;
}

.field--name-field-acti-proposition .acti-pouces svg {
  width: 2.7rem;
  height: 2.5rem;
  vertical-align: bottom;
}

.field--name-field-acti-proposition .acti-pouces svg.pouce-rouge {
  fill: #e6332a;
}

.field--name-field-acti-proposition .acti-pouces svg.pouce-vert {
  fill: #3aaa35;
}

.field--name-field-acti-proposition .acti-pouces svg.pouce-orange {
  fill: #f39200;
}

.field--name-field-acti-proposition .acti-pouces.actiUnvoted:hover, .field--name-field-acti-proposition .acti-pouces.actiUnvoted:focus, .field--name-field-acti-proposition .acti-pouces.actiUnvoted:active {
  background: #f39200;
  -webkit-box-shadow: 0px 0px 0px 7px #FFFFFF, 0px 0px 0px 8px #f39200;
          box-shadow: 0px 0px 0px 7px #FFFFFF, 0px 0px 0px 8px #f39200;
}

.field--name-field-acti-proposition .acti-pouces.actiUnvoted:hover svg.pouce-orange,
.field--name-field-acti-proposition .acti-pouces.actiUnvoted:hover svg.pouce-rouge,
.field--name-field-acti-proposition .acti-pouces.actiUnvoted:hover svg.pouce-vert, .field--name-field-acti-proposition .acti-pouces.actiUnvoted:focus svg.pouce-orange,
.field--name-field-acti-proposition .acti-pouces.actiUnvoted:focus svg.pouce-rouge,
.field--name-field-acti-proposition .acti-pouces.actiUnvoted:focus svg.pouce-vert, .field--name-field-acti-proposition .acti-pouces.actiUnvoted:active svg.pouce-orange,
.field--name-field-acti-proposition .acti-pouces.actiUnvoted:active svg.pouce-rouge,
.field--name-field-acti-proposition .acti-pouces.actiUnvoted:active svg.pouce-vert {
  fill: #FFFFFF;
}

.field--name-field-acti-proposition .acti-pouces.actiUnvoted:first-child {
  border-color: #3aaa35;
}

.field--name-field-acti-proposition .acti-pouces.actiUnvoted:first-child:hover, .field--name-field-acti-proposition .acti-pouces.actiUnvoted:first-child:focus, .field--name-field-acti-proposition .acti-pouces.actiUnvoted:first-child:active {
  background: #3aaa35;
  -webkit-box-shadow: 0px 0px 0px 7px #FFFFFF, 0px 0px 0px 8px #3aaa35;
          box-shadow: 0px 0px 0px 7px #FFFFFF, 0px 0px 0px 8px #3aaa35;
}

.field--name-field-acti-proposition .acti-pouces.actiUnvoted:last-child {
  border-color: #e6332a;
}

.field--name-field-acti-proposition .acti-pouces.actiUnvoted:last-child:hover, .field--name-field-acti-proposition .acti-pouces.actiUnvoted:last-child:focus, .field--name-field-acti-proposition .acti-pouces.actiUnvoted:last-child:active {
  background: #e6332a;
  -webkit-box-shadow: 0px 0px 0px 7px #FFFFFF, 0px 0px 0px 8px #e6332a;
          box-shadow: 0px 0px 0px 7px #FFFFFF, 0px 0px 0px 8px #e6332a;
}

.field--name-field-acti-proposition .acti-pouces.actiUnvoted svg {
  width: 2.7rem;
  height: 2.5rem;
  vertical-align: bottom;
}

.field--name-field-acti-proposition .acti-pouces.actiUnvoted svg.pouce-rouge {
  fill: #e6332a;
}

.field--name-field-acti-proposition .acti-pouces.actiUnvoted svg.pouce-vert {
  fill: #3aaa35;
}

.field--name-field-acti-proposition .acti-pouces.actiUnvoted svg.pouce-orange {
  fill: #f39200;
}

.field--name-field-acti-proposition .acti-pouces.actiVoted.aPouce-orange {
  background: #f39200;
  -webkit-box-shadow: 0px 0px 0px 7px #FFFFFF, 0px 0px 0px 8px #f39200;
          box-shadow: 0px 0px 0px 7px #FFFFFF, 0px 0px 0px 8px #f39200;
}

.field--name-field-acti-proposition .acti-pouces.actiVoted.aPouce-vert {
  background: #3aaa35;
  -webkit-box-shadow: 0px 0px 0px 7px #FFFFFF, 0px 0px 0px 8px #3aaa35;
          box-shadow: 0px 0px 0px 7px #FFFFFF, 0px 0px 0px 8px #3aaa35;
}

.field--name-field-acti-proposition .acti-pouces.actiVoted.aPouce-rouge {
  background: #e6332a;
  -webkit-box-shadow: 0px 0px 0px 7px #FFFFFF, 0px 0px 0px 8px #e6332a;
          box-shadow: 0px 0px 0px 7px #FFFFFF, 0px 0px 0px 8px #e6332a;
}

.field--name-field-acti-proposition .acti-pouces.actiVoted svg {
  fill: #FFFFFF;
}

.field--name-field-acti-proposition .acti-vote-link img {
  width: 2.3rem;
  height: 2.3rem;
}

/* Commentaire */
.actiCommentWrapper {
  margin: 1rem 0 1.5rem;
  /* Texte au dessus du commentaire */
  /* zone du commentaire */
  /* bouton envoi commentaire */
}

@media (min-width: 768px) {
  .actiCommentWrapper {
    max-width: calc(100% - 87.5px);
    margin-left: auto;
  }
}

.actiCommentWrapper .actiComment {
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

@media (min-width: 576px) {
  .actiCommentWrapper .actiComment {
    font-size: 1.7rem;
  }
}

.actiCommentWrapper .actiCommentInput form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.actiCommentWrapper .actiCommentInput textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.actiCommentWrapper .actiThemaSendComment {
  padding-left: 0;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #FFFFFF;
}

.actiCommentWrapper .actiThemaSendComment:hover, .actiCommentWrapper .actiThemaSendComment:active, .actiCommentWrapper .actiThemaSendComment:focus {
  background: #FFFFFF !important;
}

.actiCommentWrapper .actiThemaSendComment img {
  width: 4rem;
}

/* Bouton cloture vote */
.actiEndVoteWrapper {
  text-align: right;
  margin-right: 7rem;
}

@media (min-width: 768px) {
  .actiEndVoteWrapper {
    margin-right: 0;
  }
}

.paragraph--type--acti-thematique button.actiCroix {
  position: absolute;
  /* width: 4.5rem;
  height: 4.5rem; */
  right: 0;
  bottom: 0;
  padding: 1rem;
  background: none;
}

.paragraph--type--acti-thematique button.actiCroix:hover, .paragraph--type--acti-thematique button.actiCroix:active, .paragraph--type--acti-thematique button.actiCroix:focus {
  background: none !important;
}

.paragraph--type--acti-thematique button.actiCroix .close-actiCroix {
  display: block;
  position: relative;
  width: 4.5rem;
  height: 4.5rem;
  left: -50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.paragraph--type--acti-thematique button.actiCroix .close-actiCroix span {
  display: block;
  position: absolute;
  width: 4.5rem;
  height: 0.1rem;
  right: 0;
  background: #000000;
}

.paragraph--type--acti-thematique button.actiCroix .close-actiCroix span.bot {
  top: 2.25rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.paragraph--type--acti-thematique button.actiCroix .close-actiCroix span.top {
  top: 2.25rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=acti_consultations.css.map */