.advancedWrapper {
  margin-top: 1rem;
}

.advancedWrapper .field--type-color-field-type {
  max-width: 100%;
  width: 100%;
  vertical-align: top;
  margin: 1rem 0;
}

@media screen and (min-width: 1097px) {
  .advancedWrapper .field--type-color-field-type {
    max-width: 35%;
    display: inline-block;
    margin: 1rem 3rem 1rem 0;
  }
}

@media screen and (min-width: 1325px) {
  .advancedWrapper .field--type-color-field-type {
    max-width: 38%;
  }
}

@media screen and (min-width: 1610px) {
  .advancedWrapper .field--type-color-field-type {
    max-width: 40%;
  }
}

@media screen and (min-width: 1097px) {
  .advancedWrapper .field--type-color-field-type fieldset {
    width: 100%;
  }
}

.advancedWrapper .field--type-color-field-type .fieldset-wrapper {
  margin-top: 1.5rem;
}

@media screen and (min-width: 1097px) {
  .advancedWrapper .field--type-color-field-type .fieldset-wrapper {
    margin-top: 3.5rem;
  }
}

@media screen and (min-width: 1325px) {
  .advancedWrapper .field--type-color-field-type .fieldset-wrapper {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 1610px) {
  .advancedWrapper .field--type-color-field-type .fieldset-wrapper {
    margin-top: 1.5rem;
  }
}

.advancedWrapper .field--type-color-field-type label {
  display: none;
}
/*# sourceMappingURL=acti_consultations_bo_form.css.map */