/* Back office */
.views-field-thumbs-up a::before {
  content: "";
  height: 24px;
  width: 24px;
  display: inline-block;
  margin-right: 0.5rem;
  background-image: url('../images/green-hand.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.views-field-thumbs-neutral a::before {
  content: "";
  height: 24px;
  width: 24px;
  display: inline-block;
  margin-right: 0.5rem;
  background-image: url('../images/orange-hand.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.views-field-thumbs-down a::before {
  content: "";
  height: 26px;
  width: 24px;
  display: inline-block;
  margin-right: 0.5rem;
  background-image: url('../images/red-hand.svg');
  background-size: contain;
  background-repeat: no-repeat;
}