.advancedWrapper {
  margin-top: 1rem;

  .field--type-color-field-type {
    max-width: 100%;
    width: 100%;
    vertical-align: top;
    margin: 1rem 0;

    @media screen and (min-width: 1097px) {
      max-width: 35%;
      display: inline-block;
      margin: 1rem 3rem 1rem 0;
    }

    @media screen and (min-width: 1325px) {
      max-width: 38%;
    }

    @media screen and (min-width: 1610px) {
      max-width: 40%;
    }

    fieldset {
      @media screen and (min-width: 1097px) {
        width: 100%;
      }
    }

    .fieldset-wrapper {
      margin-top: 1.5rem;

      @media screen and (min-width: 1097px) {
        margin-top: 3.5rem;
      }
      
      @media screen and (min-width: 1325px) {
        margin-top: 3rem;
      }

      @media screen and (min-width: 1610px) {
        margin-top: 1.5rem;
      }
    }

    label {
      display: none;
    }
  }


}

