/* breakpoints */

@mixin respond-to($name) {
  // If the key exists in the map
  @if map-has-key($bp-aliases, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($bp-aliases, $name))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

$tiny        : 480px !default; // or 'em' if you prefer, of course
$small       : 576px !default;
$medium      : 768px !default;
$large       : 992px !default;
$large-plus  : 1024px !default;
$extra-large : 1200px !default;

$bp-aliases: (
  'tiny'   : (max-width: #{$tiny - 1}),
  'small'  : (max-width: #{$small - 1}),
  'medium' : (max-width: #{$medium - 1}),
  'large' : (max-width: #{$large - 1}),
  'extra-large'  : (max-width: #{$extra-large - 1}),
  'tiny-up'   : (min-width: #{$tiny}),
  'small-up'  : (min-width: #{$small}),
  'medium-up' : (min-width: #{$medium}),
  'large-up' : (min-width: #{$large}),
  'extra-large-up' : (min-width: #{$extra-large}),
  'retina' : (min-resolution: 2dppx)
);


/* variables couleurs */
$actigris: #e7e6ea;
$white: #FFFFFF;
$actihover: #5a4b5f;
$actichapo: #5a4b5f;
$pouce-rouge: #e6332a;
$pouce-vert: #3aaa35;
$pouce-orange: #f39200;
$black: #000000;


/* fonts */
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff ttf) {
	$src: null;

	$extmods: (
		eot: '?',
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		src: $src;
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
	}
}

$weight-medium  : 500 !default;
$weight-bold    : 700 !default;
@include font-face(RobotoBold, '../fonts/roboto/roboto-bold', $weight-bold);
@include font-face(RobotoMedium, '../fonts/roboto/roboto-medium', $weight-medium);

$font-family-base      : Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default; // system font stack

/* Font size */
@mixin font-size($elem) {
  $q: map-get($font-sizes, $elem);
  $mob: map-get($q, "mobile");
  $desk: map-get($q, "desktop");
  font-size: $mob;
  @include respond-to("small-up") {
    font-size: $desk;
  }
}

$font-size-base : 1.6rem !default;

$font-sizes: (
  base: (
    mobile  : 1.4rem,
    desktop : $font-size-base
  ),
  h1: (
    mobile  : 2.8rem,
    desktop : 3.2rem
  ),
  h2: (
    mobile  : 2.3rem,
    desktop : 2.6rem
  ),
  h3: (
    mobile  : 2.0rem,
    desktop : 2.0rem
  ),
  h4: (
    mobile  : 1.8rem,
    desktop : 1.6rem
  ),
  h5: (
    mobile  : 1.6rem,
    desktop : 1.3rem
  ),
  h6: (
    mobile  : 1.4rem,
    desktop : 1.3rem
  ),
  chapo: (
    mobile  : 1.5rem,
    desktop : 1.5rem
  ),
  proposition: (
    mobile  : 1.7rem,
    desktop : 1.7rem
  )
) !default;


/* Chapo de la page consultation */

.field--name-field-acti-consult-chapo {
  margin: 1.5rem 0;
  padding: 1.4rem;
  border: 1px solid $actichapo;
}



/* Thématique */

.paragraph--type--acti-thematique {
  margin: 3.5rem 0;
  border-radius: 5px;
  background: $actigris;
  overflow: hidden;
  
  .bloc-plie-actithematique {
    @include respond-to("medium-up") {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  
    }
  }

  /* chapo thématique */


    /* Image thématique */

  .field.field--name-field-acti-thematique-image {
    display: flex;
    width: 100%;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    overflow: hidden;
  
    @include respond-to("medium-up") {
      width: 29%; 
      /* width: 341px; */
    }
  
    img {
      max-height: 225px;
      max-width: 100%;
      width: auto;
      align-self: center;
      }
  }

    /* Texte chapo thématique */

  .bloc-chapo-actithematique {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 1.75rem;

    /* Titre thématique */

    .field--name-field-acti-thematique-title {
      margin-bottom: 1rem;
      font-family: $font-family-base;
      font-weight: $weight-bold;
      @include font-size(h3);
      line-height: 1.2;
    }

    /* description thematique */
    
    .field--name-field-acti-thematique-desc {
      margin-bottom: 1rem;
      font-family: $font-family-base;
      font-weight: $weight-medium;
      @include font-size(chapo);
    }
    
  }
  
  /* Bloc contenant les boutons open et instructions */

  .actiAlignbutton {
    width: 100%;
    align-self: flex-end;
    text-align: right;

    /* position bouton instruction */

    .actiInstructions {
      width: 100%;
      text-align: left;
      align-self: flex-end;
      white-space: inherit;
    }
  }

  /* style global pour les boutons */

  button {
    padding: 1.25rem;
    border-radius: 5px;
    font-family: $font-family-base;
    font-weight: $weight-medium;
    @include font-size(h3);

    &:hover,
    &:focus,
    &:active {
     background: $actihover!important;
     color: $white!important;
    }
 
  }


}

/* Bloc déplié */
.actiToggled {
  position: relative;
}

.actiToggledContent {
  width: 100%;
  margin: auto;
  padding: 1rem 1.5rem 1.5rem;
  @include respond-to("medium-up") {
    max-width: 65%;
    padding: 1rem 0 1.5rem;
  }
  
}

/* Propositions */

.field--name-field-acti-proposition {

  /* bloc regroupant l'image et le texte de la proposition */

  .bloc-actiProposition {
    display: flex;
    margin: 2rem 0;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    @include respond-to("medium-up") {
      display: flex;
      flex-direction: row;;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
  }
  
  /* Image proposition */

  img.actiPropIcon {
    max-width: 70px;
    max-height: 75px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    flex: 0 1 auto;
    align-self: center;
    
    @include respond-to("medium-up") {
      margin-bottom: 0;
      margin-right: 1.75rem;
      align-self: flex-start;
    }

  }

  /* bloc regroupant le texte et les votes de la proposition */
  
  .bloc-blanc-actiproposition {
    width: 100%;
    padding: 1.5rem;
    flex: 1 0 auto;
    border-radius: 5px;
    background: $white;
    @include font-size(proposition);

    @include respond-to("medium-up") {
      flex: 1;
    }
  }

  /* bloc qui affiche le nombre de personnes qui a voté */

  .actiCountWrapper {
    text-align: right;
    @include font-size(proposition);
    font-weight: $weight-bold;
  }


  /* votes */

    /* Bloc contenant les votes */

  .actiPropVote {
    padding: 1.5rem 2rem 1rem 0;
    text-align: right;
  }

       
    /* etoiles et pouces */

  .acti-etoiles {
    margin-left: 0.5rem;
  }

  .acti-pouces {
    display: inline-block;
    margin-left: 2rem;
    padding: 0.75rem;
    border: 2px solid $pouce-orange;
    border-radius: 100%;

    &:first-child {
      border-color: $pouce-vert;
    }

    &:last-child {
      border-color: $pouce-rouge;
    }

    svg {
      width: 2.7rem;
      height: 2.5rem;
      vertical-align: bottom;

      &.pouce-rouge {
        fill: $pouce-rouge;
      }

      &.pouce-vert {
        fill: $pouce-vert;
      }

      &.pouce-orange {
        fill: $pouce-orange;
      } 
    }

    &.actiUnvoted {

      &:hover,
      &:focus,
      &:active {
        background: $pouce-orange;
        box-shadow: 0px 0px 0px 7px $white, 0px 0px 0px 8px $pouce-orange;

        svg.pouce-orange,
        svg.pouce-rouge,
        svg.pouce-vert {
          fill: $white;
        }
      
      }

      &:first-child {
        border-color: $pouce-vert;
      
        &:hover,
        &:focus,
        &:active {
          background: $pouce-vert;
          box-shadow: 0px 0px 0px 7px $white, 0px 0px 0px 8px $pouce-vert;
        }
      }

      &:last-child {
        border-color: $pouce-rouge;

        &:hover,
        &:focus,
        &:active {
          background: $pouce-rouge;
          box-shadow: 0px 0px 0px 7px $white, 0px 0px 0px 8px $pouce-rouge;
        }

      }

      svg {
        width: 2.7rem;
        height: 2.5rem;
        vertical-align: bottom;

        &.pouce-rouge {
          fill: $pouce-rouge;
        }

        &.pouce-vert {
          fill: $pouce-vert;
        }

        &.pouce-orange {
          fill: $pouce-orange;
        }
      }
    }

    &.actiVoted {
      &.aPouce-orange {
        background: $pouce-orange;
        box-shadow: 0px 0px 0px 7px $white, 0px 0px 0px 8px $pouce-orange;
      }
      &.aPouce-vert {
        background: $pouce-vert;
        box-shadow: 0px 0px 0px 7px $white, 0px 0px 0px 8px $pouce-vert;
      }
      &.aPouce-rouge {
        background: $pouce-rouge;
        box-shadow: 0px 0px 0px 7px $white, 0px 0px 0px 8px $pouce-rouge;
      }
      svg {
        fill: $white;
      }
    }

   /*  img {
      vertical-align: top;
    } */
  }


  .acti-vote-link img {
    width: 2.3rem;
    height: 2.3rem;
  }

}


/* Commentaire */

.actiCommentWrapper {
  margin: 1rem 0 1.5rem;
  
  @include respond-to("medium-up") {
    max-width: calc(100% - 87.5px);
    margin-left: auto;
  }

  /* Texte au dessus du commentaire */

  .actiComment {
    margin-bottom: 1rem;
    @include font-size(proposition);
  }

  /* zone du commentaire */

  .actiCommentInput {

    form {
      display: flex;
      justify-content: space-between;
    }
    
    textarea {
      flex: 1;
      border: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }

  /* bouton envoi commentaire */

  .actiThemaSendComment {
    padding-left: 0;
    align-self: auto;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: $white;

    &:hover,
    &:active,
    &:focus {
      background: $white!important;
    }

    img {
      width: 4rem;
    }
  }
  
}

/* Bouton cloture vote */

.actiEndVoteWrapper {
  text-align: right;
  margin-right: 7rem;

  @include respond-to("medium-up") {
    margin-right: 0;
  }
}



.paragraph--type--acti-thematique button.actiCroix {
  position: absolute;
  /* width: 4.5rem;
  height: 4.5rem; */
  right: 0;
  bottom: 0;
  padding: 1rem;
  background: none;

  &:hover,
  &:active,
  &:focus {
    background: none!important;
  }

  .close-actiCroix {    
    display: block;
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    left: -50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }

  .close-actiCroix span {
    display: block;
    position: absolute;
    width: 4.5rem;
    height: 0.1rem;
    right: 0;
    background: $black;

    &.bot {
      top: 2.25rem;
      transform: rotate(-45deg);
    }

    &.top {
      top: 2.25rem;
      transform: rotate(45deg);
    }
  }

}


