{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
    <div class="bloc-plie-actithematique">
      {{ content.field_acti_thematique_image }}
      
      <div class="bloc-chapo-actithematique">

        <div class="chapo-actiThematique">
        {{ content.field_acti_thematique_title }}
        {{ content.field_acti_thematique_desc }}
        </div>

        <div data-filled-thema-id="{{ paragraph.id() }}" class="actiAlignbutton">
          <button type="button" style="color:{{ txt_color.color }};background-color:{{ button_color.color }};" class="actiThematiqueToggler actiOpen">{{ thema_open }}</button>
          <button type="button" style="display: none;color:{{ fild_tx_color.color }};background-color:{{ filled_color.color }};" class="actiThematiqueToggler actiFilled">{{ thema_filled }}</button>
          <button type="button" style="display: none;color:{{ txt_color.color }};background-color:{{ button_color.color }};" class="actiInstructions">{{ thema_instruction }}</button>
        </div>
        
      </div>

    </div>
      <div class="actiToggled" style="display: none;">
       <div class="actiToggledContent">
        {{ content.field_acti_proposition }}
        <div class="actiCommentWrapper">
          <div class="actiComment">
            {{ comment_txt }}
          </div>
          <div class="actiCommentInput">
            <form method="POST" id="acti-form-{{ paragraph.id() }}" action="{{  path('acti_consultations.comment_controller_handleComment', {'themaid': paragraph.id()}) }}">
              <textarea name="comment" id=""></textarea>
              <button type="submit" class="actiThemaSendComment animated"><img src="/{{ acti_path }}/images/envoi.svg" alt=""></button>
            </form>
          </div>
        </div>
        <div class="actiEndVoteWrapper">
          <button type="button" style="color:{{ txt_color.color }};background-color:{{ button_color.color }};" class="actiClose">{{ thema_close }}</button>
        </div>
        </div>
        <button type="button" name="close-activote" class="actiCroix">
          <span class="close-actiCroix">
            <span class="top"></span>
            <span class="bot"></span>
          </span>
        </button>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
