{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% 
  set thumbs = [
    'green-hand',
    'orange-hand',
    'red-hand'
  ]
%}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div class="bloc-actiProposition">
  <img class="actiPropIcon" src="{{ file_url(prop_icon[0].entity.uri.value) }}" alt="{{ prop_icon[0].alt }}" />
    <div class="bloc-blanc-actiproposition">
      <div{{ attributes.addClass(classes) }}>
        {% block content %}
          {{ content }}
        {% endblock %}
      </div>
      <div class="actiPropVote" data-prop-wrapper-id="{{ paragraph.id() }}" data-prop-parent-id="{{ paragraph.get('parent_id').value }}">
        {% if consult_type == 'etoiles' %}
          {% for i in 1..5 %}
            <a data-mark="{{ i }}" class="acti-etoiles acti-vote-link actiUnvoted" href="{{ path('acti_consultations.vote_controller_vote', {'propid': paragraph.id(), 'mark': i}) }}"><img src="/{{ acti_path }}/images/etoile-vide.svg" alt=""></a>
          {% endfor %}
        {% else %}
          <a data-mark="1" class="acti-pouces aPouce-vert acti-vote-link actiUnvoted" href="{{ path('acti_consultations.vote_controller_vote_thumbs', {'propid': paragraph.id(), 'mark': 1 }) }}">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.32 22.52" class="pouce-vert pouce-haut-blanc">
                  <path class="cls-1" d="M23.31,10.76a3.25,3.25,0,0,0-3.25-3.25H15V3.89A3.81,3.81,0,0,0,13.71.61a4.16,4.16,0,0,0-3.4-.42A.59.59,0,0,0,9.9.75V4.82C9.9,8,6.18,9.11,6,9.15a.52.52,0,0,0-.13.06,1.68,1.68,0,0,0-1.5-.94H1.67A1.68,1.68,0,0,0,0,10v9.89a1.67,1.67,0,0,0,1.67,1.67H3.25a.58.58,0,0,0,.58-.58.57.57,0,0,0-.58-.58H1.67a.5.5,0,0,1-.5-.51V10a.5.5,0,0,1,.5-.51H4.4a.51.51,0,0,1,.51.51v9.33a3.25,3.25,0,0,0,3.25,3.24h10c2.21,0,3.61-1.15,3.86-3.15L23.31,11s0-.06,0-.09v-.1Zm-1.16.05L20.81,19.2c-.18,1.43-1.08,2.16-2.7,2.16H8.16a2.09,2.09,0,0,1-2.09-2.08v-9a.62.62,0,0,0,.27,0c.2,0,4.72-1.36,4.72-5.46V1.21a2.79,2.79,0,0,1,2,.33,2.76,2.76,0,0,1,.86,2.35v4.2a.58.58,0,0,0,.58.59h5.61a2.08,2.08,0,0,1,2.08,2.08v.05Z"/>
              </svg>
          </a>

          <a data-mark="2" class="acti-pouces aPouce-orange acti-vote-link actiUnvoted" href="{{ path('acti_consultations.vote_controller_vote_thumbs', {'propid': paragraph.id(), 'mark': 2 }) }}">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.52 23.32" class="pouce-orange pouce-neutre-blanc">
                <path class="cls-1" d="M10.76,0A3.26,3.26,0,0,0,7.51,3.25v5H3.89A3.79,3.79,0,0,0,.61,9.61,4.16,4.16,0,0,0,.19,13a.59.59,0,0,0,.56.41H4.82c3.2,0,4.29,3.71,4.33,3.87a.52.52,0,0,0,.06.13,1.68,1.68,0,0,0-.94,1.5v2.72A1.68,1.68,0,0,0,10,23.32h9.89a1.68,1.68,0,0,0,1.67-1.68V20.07a.59.59,0,0,0-.58-.59.58.58,0,0,0-.58.59v1.57a.51.51,0,0,1-.51.51H10a.51.51,0,0,1-.51-.51V18.92a.51.51,0,0,1,.51-.51h9.33a3.25,3.25,0,0,0,3.24-3.25V5.21c0-2.21-1.15-3.61-3.15-3.86L11,0h-.19Zm.05,1.17L19.2,2.51c1.43.17,2.16,1.08,2.16,2.7v10a2.08,2.08,0,0,1-2.08,2.08h-9a.58.58,0,0,0,0-.26c0-.2-1.36-4.73-5.46-4.73H1.21a2.78,2.78,0,0,1,.33-1.95,2.76,2.76,0,0,1,2.35-.86h4.2a.58.58,0,0,0,.59-.58V3.25a2.08,2.08,0,0,1,2.08-2.08Z"/>
              </svg>
          </a>

          <a data-mark="3" class="acti-pouces aPouce-rouge acti-vote-link actiUnvoted" href="{{ path('acti_consultations.vote_controller_vote_thumbs', {'propid': paragraph.id(), 'mark': 3 }) }}">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.32 22.52" class="pouce-rouge pouce-bas-blanc">
                <path class="cls-1" d="M0,11.77A3.26,3.26,0,0,0,3.25,15h5v3.62a3.8,3.8,0,0,0,1.33,3.28,4.14,4.14,0,0,0,3.4.41.58.58,0,0,0,.41-.55V17.71c0-3.2,3.71-4.29,3.87-4.34l.13,0a1.69,1.69,0,0,0,1.5.93h2.72a1.68,1.68,0,0,0,1.68-1.67V2.69A1.68,1.68,0,0,0,21.64,1H20.07a.59.59,0,1,0,0,1.17h1.57a.51.51,0,0,1,.51.51v9.89a.51.51,0,0,1-.51.51H18.92a.51.51,0,0,1-.51-.51V3.25A3.26,3.26,0,0,0,15.16,0H5.21C3,0,1.6,1.16,1.35,3.15L0,11.57a.31.31,0,0,0,0,.09v.11Zm1.17,0,1.34-8.4c.17-1.43,1.08-2.15,2.7-2.15h10a2.08,2.08,0,0,1,2.08,2.08v9a.58.58,0,0,0-.26,0c-.2.06-4.73,1.37-4.73,5.46v3.6A2.67,2.67,0,0,1,10.3,21a2.74,2.74,0,0,1-.86-2.34V14.43a.58.58,0,0,0-.58-.58H3.25a2.09,2.09,0,0,1-2.08-2.09v0Z"/>
              </svg>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="actiCountWrapper" style="display: none;" id="actiCountWrapper-{{ paragraph.id() }}">
    <p data-prop-id="{{ paragraph.id() }}">{{ vote_amount }}</p>
  </div>
{% endblock paragraph %}
